@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
@plugin "daisyui" {
  themes:
    'night',
    'cupcake' --default;
}
@plugin "daisyui/theme" {
  name: 'cupcake';
  default: true;
  --color-primary: #fdba74;
  --color-primary-content: #202020; 
  --color-secondary: #7284ea;
  --color-secondary-content: --color-accent: #37cdbe;
  --color-accent-content: ;
  --color-error: #f37372  ;
  --color-success: #a1d89b;
}

@plugin "daisyui/theme" {
  name: 'night';

  --color-base-100: #111820;

}
