/* Colores personalizados Mykonos */
[data-theme='light'] {
  --p: 25 100% 63%;
  --pc: 0 0% 100%;
  --s: 239 68% 68%;
  --sc: 0 0% 100%;
  --a: 188 94% 43%;
  --ac: 0 0% 100%;
  --n: 216 18% 31%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 210 40% 98%;
  --b3: 214 32% 91%;
  --bc: 215 25% 27%;
}

[data-theme='dark'] {
  --p: 25 100% 63%;
  --pc: 0 0% 100%;
  --s: 238 77% 77%;
  --sc: 239 42% 20%;
  --a: 187 85% 53%;
  --ac: 189 54% 16%;
  --n: 216 28% 23%;
  --nc: 210 20% 98%;
  --b1: 220 18% 10%;
  --b2: 216 28% 23%;
  --b3: 216 18% 31%;
  --bc: 210 20% 98%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
